{% extends "panel/base.html" %}
{% load static %}


{% block content %}
<div class="container pt-5 mt-5">
  <h2 class='mb-3'>Products List</h2>
  <div class="d-flex justify-content-between">
    <p>All The products Listed Here</p>
    <div>
      <a href="/panel/addproduct" class="btn btn-elegant">Add Product</a>
      <!-- <button type="button" class="btn btn-elegant">Add Product</button> -->
    </div>
  </div>

  <table id="dtBasicExample" class="table" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Product Name
        </th>
        <th class="th-sm">Price
        </th>
        <th class="th-sm">Discount Price
        </th>
        <th class="th-sm">Status
        </th>
        <th class="th-sm">Category
        </th>
        <th class="th-sm">Action
        </th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.discount_price }}</td>
        <td>{{ item.label }}</td>
        <td>{{ item.category }}</td>
        <td>
          <a href="{% url 'core:updateproduct' item.id %}" class="btn btn-sm btn-rounded btn-warning">Edit</a>
          <a href="{% url 'core:deleteproduct' item.id %}" class="btn btn-sm btn-rounded btn-warning">Delete</a>
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block extra_scripts %}
<script>
  $("#dtBasicExample").DataTable()
</script>
{% endblock %}