{% extends "base.html" %}

{% block content %}

<main class="mb-5 pt-5 pb-5">
  <div class="container my-5 py-5">


    <!--Section: Content-->
    <section class="text-center">

      <!-- Section heading -->
      <h3 class="font-weight-bold mb-5">Product Details</h3>

      <div class="row">
        <div class="col-lg-6">

          <!--Carousel Wrapper-->
          <div id="carousel-thumb1" class="carousel slide carousel-fade carousel-thumbnails mb-5 pb-4"
            data-ride="carousel">

            <!--Slides-->
            <div class="carousel-inner text-center text-md-left" role="listbox">
              <div class="carousel-item active">
                <a href="/media_root/{{ data.image }}" data-size="1600x1067">
                  <img src="/media_root/{{ data.image }}" alt="First slide" class="img-fluid">
                </a>

              </div>
              {% for img in images %}
              <div class="carousel-item">
                <a href="/media_root/{{ img.images }}" data-size="1600x1067">
                  <img src="/media_root/{{ img.images }}" alt="First slide" class="img-fluid">
                </a>
              </div>
              {% endfor %}
            </div>
            <!--/.Slides-->

            <!--Thumbnails-->
            <a class="carousel-control-prev" href="#carousel-thumb1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumb1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
            <!--/.Thumbnails-->

          </div>
          <!--/.Carousel Wrapper-->

          <!-- <div class="row mb-4">
            <div class="col-md-12">
              <div id="mdb-lightbox-ui"></div>
              <div class="mdb-lightbox no-margin">
                <video width='400' height='400' controls>
                  <source src="/media_root/{{ video.videos }}" type='video/mp4'>
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div> -->
        </div>

        <div class="col-lg-5 text-center text-md-left">

          <h2
            class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">
            {{ data.title }}</h2>
          <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">{{ data.category }}</span>
          <span class="badge badge-success product mb-4 ml-2">{{ data.label }}</span>

          <!-- <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
            <span class="red-text font-weight-bold">
              <strong>$1449</strong>
            </span>
            <span class="grey-text">
              <small>
                <s>$1789</s>
              </small>
            </span>
          </h3> -->

          <!-- <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">
            {% if data.discount_price %}
            <span class="red-text font-weight-bold">
              <strong>৳{{ data.price }}</strong>
            </span>
            <span class="grey-text">
              <small>
                <s>৳{{ data.discount_price }}</s>
              </small>
            </span>
            {% else %}
            <span class="red-text font-weight-bold">
              <strong>৳{{ data.price }}</strong>
            </span>
            {% endif %}
          </h3> -->



          <div class="font-weight-normal">

            <p class="ml-xl-0 ml-4">
            <p>{{ data.description }}</p>
            </p>

            <!-- <p class="ml-xl-0 ml-4">
              <strong>Attribute 1: </strong>Value</p>
            <p class="ml-xl-0 ml-4">
              <strong>Attribute 2: </strong>Value</p>
            <p class="ml-xl-0 ml-4">
              <strong>Attribute 3: </strong>Value</p>
            <p class="ml-xl-0 ml-4">
              <strong>Attribute 4: </strong>Value</p> -->

            <div class="mt-5">
              <div class="row mt-3 mb-4">
                <div class="col-md-12 text-center text-md-left text-md-right">
                  <a href="{{ data.get_add_to_cart_url }}" class="btn btn-primary btn-rounded disabled">
                    <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Add to cart
                  </a>
                  <a href="{{ data.get_remove_from_cart_url }}" class="btn btn-danger btn-rounded disabled">
                    <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Remove from cart
                  </a>
                  <!-- <button class="btn btn-primary btn-rounded">
                    <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Add to cart</button> -->
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="container-fluid mt-3 mb-5">

        <!-- Section -->
        <section class="bg-primary z-depth-1">

          <!-- Modal -->
          <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                  <iframe id="player" class="embed-responsive-item" src="/media_root/{{ video.videos }}"
                    type='video/mp4' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>

          <div class="row no-gutters">

            <div class="col-lg-6 order-md-2">
              <div class="view">
                <img class="img-fluid" src="/media_root/{{ data.image }}" alt="{{ data.title }}">
                <div class="mask flex-center rgba-black-light">
                  <a id="play" class="btn-floating btn-danger btn-lg" data-toggle="modal" data-target="#modal1"><i
                      class="fas fa-play"></i></a>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mx-auto d-flex align-items-center text-white">
              <div class="px-4 py-4 py-lg-0">
                <h3 class="font-weight-normal mb-4">{{ data.title }}</h3>
                <p class="mb-0">Please Contact us with our <a style="color: black;"
                    href="https://www.facebook.com/farmsideagro" target="_blank">Facebook Page</a> to book or pre order
                  this product by sharing this url. </p>
              </div>
            </div>

          </div>

        </section>
        <!-- Section -->

      </div>

    </section>
    <!--Section: Content-->


  </div>
</main>

{% endblock content %}
{% block extra_scripts %}
<script>
  $('#play').on('click', function (e) {
    e.preventDefault();
    $("#player")[0].src += "?autoplay=1";
    $('#player').show();
    $('#video-cover').hide();
  })
  $('#modal1').on('hidden.bs.modal', function (e) {
    $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
  });
</script>

{% endblock %}